.game{
    width: 100%;
    height: auto;


    .game__wrapper{
        position: relative;
        width: 100%;
        height: 100%;

        .game__company{
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-top: 50px;
            z-index: 2;

            .game__company_items{

                @media screen and (max-width: 1000px) {
                    text-align: center;

                }

                .game__company_item{
                    margin: 0px 5px;

                    img{
                        transition: 0.9s;
                    }

                    img:hover{
                        opacity: 1 !important;
                        transition: 0.9s;
                    }
                }
            }
        }

        .game__web{
            position: relative;
            width: 100%;
            height: auto;

            @media screen and (max-width: 1000px) {
                padding-top: 100px;
                
            }

            .text{
                position: absolute;
                z-index: 3;
                width: 200%;
                height: 100%;
                right: -120px;
                bottom: 90px;
                text-align: center;
                color: $white_color;

                @media screen and (max-width: 970px) {
                    top: -270px;
                    width: 290%;
                    right: -100%;
                }

                @media screen and (max-width: 349px) {
                    display: none;
                }

                .doggi_text{
                    font-family: 'SF Pro Display',sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 32px;
                    align-items: center;
                    text-align: center;

                    @media screen and (max-width: 970px) {
                        margin-top: 40px;
                        font-size: 15px;
                    }
      
                }
            }

            .img__web{
                position: relative;
                width: 100%;
                height: 1150px;
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 570px) {
                    height: 900px;
                }

                @media screen and (max-width: 970px) {
                    height: 950px;
                }
                .glow_effect{
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #fff;
                    box-shadow:

                        0 0 140px 90px #143d85;
                    
                    animation: glow 6s infinite;
                }

                @keyframes glow {
                    0%{
                        box-shadow: 0 0 140px 90px #143d85;
                    
                    }
                    50%{
                        box-shadow: 0 0 140px 190px #143d85;
                    
                    }
                    100%{
                        box-shadow: 0 0 140px 90px #143d85;
                    
                    }
                }

                @media screen and (max-width: 570px) {
                    @keyframes glow {
                        0%{
                            box-shadow: 0 0 140px 50px #143d85;
                        
                        }
                        50%{
                            box-shadow: 0 0 140px 90px #143d85;
                        
                        }
                        100%{
                            box-shadow: 0 0 140px 50px #143d85;
                        
                        }
                    }
                }

                .web{
                    position: absolute;

                    @media screen and (max-width: 970px) {
                        display: none;
                    }
                }

                .earth{
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    @media screen and (max-width: 970px) {
                        width: auto;
                        max-width: 20%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                    }

                    @media screen and (max-width: 570px) {
                        img{
                            width: 200%;
                        }
                    }

                }

                .doggi{
                    position: absolute;
                    display: flex;
                    flex-direction: column;

                    @media screen and (max-width: 970px) {
                        width: auto;
                        max-width: 20%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    @media screen and (max-width: 570px) {
                        img{
                            width: 70%;
                        }
                    }

                    .goo-btn:hover{
                        background-color: rgb(68, 0, 0);

                    }

                    .goo-btn{
                        cursor: pointer;
                        background-color: $red_color;
                        padding: 15px 45px;
                        font-family: 'SF Pro Display', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 26px;
                        border-radius: 10px;
                        width: 215px;
                        margin-top: 10px;
                        border: none;
                        color: $white_color;

                        

                        @media screen and (max-width: 570px) {
                            padding: 15px 15px;
                            font-size: 15px;
                            line-height:16px;
                            position: absolute;
                            top: 280px
                        }

                    }

                
                }

                .circle_items{
                    position: absolute;
                    width:130px;
                    height:130px;



                    .itemsOne{
                        width:50px;
                        height:50px;
                        background:#0096F2;
                        border-radius:50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $white_color;
                        position:absolute;
                        top:0; bottom:0; left:0;right:0;
                        overflow:hidden;
                        margin:auto;
                        box-shadow: 0 0 110px 40px rgb(28, 68, 138);
                        animation: circle 15s linear infinite, growing1 3s infinite;
                    }

                    @keyframes growing1 {
                        0%{
                            box-shadow: 0 0 110px 10px rgb(57, 90, 151);                        
                        }
                        50%{
                            box-shadow: 0 0 110px 50px rgb(57, 90, 151);                        
                        }
                        100%{
                            box-shadow: 0 0 110px 10px rgb(57, 90, 151);                        
                        }
                    }

                    @media screen and (max-width: 970px) {
                        @keyframes circle{
                            0%{
                                transform:rotate(0deg)
                                        translate(-235px)
                                        rotate(0deg);
                                
                            }
                            100%{
                                transform:rotate(360deg)
                                        translate(-235px)
                                        rotate(-360deg);
                                }
        
                            }
                    }

                    @media screen and (max-width: 570px) {
                        @keyframes circle{
                            0%{
                                transform:rotate(0deg)
                                        translate(-145px)
                                        rotate(0deg);
                                
                            }
                            100%{
                                transform:rotate(360deg)
                                        translate(-145px)
                                        rotate(-360deg);
                                }
        
                        }

                        @keyframes growing1 {
                            0%{
                                box-shadow: 0 0 110px 10px rgb(57, 90, 151);                        
                            }
                            50%{
                                box-shadow: 0 0 110px 30px rgb(57, 90, 151);                        
                            }
                            100%{
                                box-shadow: 0 0 110px 10px rgb(57, 90, 151);                        
                            }
                        }
                    }
                    

                    @keyframes circle{
                    0%{
                        transform:rotate(0deg)
                                translate(-335px)
                                rotate(0deg);
                        
                    }
                    100%{
                        transform:rotate(360deg)
                                translate(-335px)
                                rotate(-360deg);
                        }

                    }


                    .itemsTwo{
                        width:50px;
                        height:50px;
                        background: #E11D2E;
                        border-radius:50%;
                        position:absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $white_color;
                        top:0; bottom:0; left:0;right:0;
                        overflow:hidden;
                        margin:auto;
                        animation: circle2 15s linear infinite, growing2 5s infinite;
                    }

                    @media screen and (max-width: 970px) {
                        @keyframes circle2{
                            0%{
                                transform:rotate(0deg)
                                        translate(150px, -155px)
                                        rotate(0deg);
                                
                                }
                            100%{
                                transform:rotate(360deg)
                                        translate(150px, -155px)
                                        rotate(-360deg);
                                }
        
                            }
                    }

                    @media screen and (max-width: 570px) {
                        @keyframes circle2{
                            0%{
                                transform:rotate(0deg)
                                        translate(105px, -105px)
                                        rotate(0deg);
                                
                                }
                            100%{
                                transform:rotate(360deg)
                                        translate(105px, -105px)
                                        rotate(-360deg);
                                }
        
                        }

                        @keyframes growing2 {
                            0%{
                                box-shadow: 0 0 110px 10px rgb(129, 3, 3);                        
                            }
                            50%{
                                box-shadow: 0 0 110px 30px rgb(129, 3, 3);                        
                            }
                            100%{
                                box-shadow: 0 0 110px 10px rgb(129, 3, 3);                        
                            }
                        }
                    }

                    @keyframes circle2{
                    0%{
                        transform:rotate(0deg)
                                translate(250px, -255px)
                                rotate(0deg);
                        
                        }
                    100%{
                        transform:rotate(360deg)
                                translate(250px, -255px)
                                rotate(-360deg);
                        }

                    }

                    @keyframes growing2 {
                        0%{
                            box-shadow: 0 0 110px 10px rgb(129, 3, 3);                        
                        }
                        50%{
                            box-shadow: 0 0 110px 50px rgb(129, 3, 3);                        
                        }
                        100%{
                            box-shadow: 0 0 110px 10px rgb(129, 3, 3);                        
                        }
                    }


                    .itemsThree{
                        width:50px;
                        height:50px;
                        background: #FF9429;
                        border-radius:50%;
                        position:absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $white_color;
                        top:0; bottom:0; left:0;right:0;
                        overflow:hidden;
                        margin:auto;
                        animation: circle3 15s linear infinite, growing3 8s infinite;
                    }

                    @keyframes growing3 {
                        0%{
                            box-shadow: 0 0 110px 10px rgb(160, 157, 2);                        
                        }
                        50%{
                            box-shadow: 0 0 110px 50px rgb(160, 157, 2);                        
                        }
                        100%{
                            box-shadow: 0 0 110px 10px rgb(160, 157, 2);                        
                        }
                    }

                    @media screen and (max-width: 970px) {
                        @keyframes circle3{
                            0%{
                                transform:rotate(0deg)
                                        translate(150px, 150px)
                                        rotate(0deg);
                                
                                }
                            100%{
                                transform:rotate(360deg)
                                        translate(150px, 150px)
                                        rotate(-360deg);
                                }
        
                            }
                    }

                    @media screen and (max-width: 570px) {
                        @keyframes circle3{
                            0%{
                                transform:rotate(0deg)
                                        translate(105px, 105px)
                                        rotate(0deg);
                                
                                }
                            100%{
                                transform:rotate(360deg)
                                        translate(105px, 105px)
                                        rotate(-360deg);
                                }
        
                        }

                        @keyframes growing3 {
                            0%{
                                box-shadow: 0 0 110px 10px rgb(160, 157, 2);                        
                            }
                            50%{
                                box-shadow: 0 0 110px 20px rgb(160, 157, 2);                        
                            }
                            100%{
                                box-shadow: 0 0 110px 10px rgb(160, 157, 2);                        
                            }
                        }
                    }

                    @keyframes circle3{
                    0%{
                        transform:rotate(0deg)
                                translate(250px, 250px)
                                rotate(0deg);
                        
                        }
                    100%{
                        transform:rotate(360deg)
                                translate(250px, 250px)
                                rotate(-360deg);
                        }

                    }
                }
            }
        }
    }
}
