.play{

    .play__wrapper{
        padding: 50px 92px;

        @media screen and (max-width: 570px) {
            padding: 50px 42px;
        }

        .play__title{
            font-family: 'SF Pro Display', sans-serif;
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;

            .play__maintitle{
                font-style: normal;
                font-weight: 700;
                font-size: 50px;
                line-height: 60px;
                color: $white_color;

                @media screen and (max-width: 570px) {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            .play__subtitle{
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 42px;
                color: $white_color;
                opacity: 0.5;

                @media screen and (max-width: 570px) {
                    font-size: 15px;
                    line-height: 22px;
                }
            }
        }

        .play__infos{
            width: 100%;
            height: auto;

            .infoscars{
                padding: 50px;
                background-color: #071022;
                border-radius: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 50px;

                @media screen and (max-width: 465px) {
                    padding: 20px;
                }

                @media screen and (max-width: 1490px) {
                    flex-direction: column;
                }

                .card_img{
                    width: 40%;
                    height: 320px;
                    background-image: url('images/plays/bgcard.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 30px;
                    position: relative;
                    align-items: center;
                    text-align: center;

                    @media screen and (max-width: 750px) {
                        height: 200px;
                    }

                    @media screen and (max-width: 465px) {
                        height: 150px;
                    }

                    @media screen and (max-width: 1490px) {
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    .monsters{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        img{
                            width: 230px;
                            position: absolute;
                            right: 30px;
                            top: 50px;

                            @media screen and (max-width: 750px) {
                                width: 120px;
                            }

                            @media screen and (max-width: 465px) {
                                width: 70px;
                            }
                        }
                        .doggy{
                            position: absolute;
                            left: 240px;

                            img{
                                right: 0;

                                @media screen and (max-width: 750px) {
                                    right: 100px;
                                }

                                @media screen and (max-width: 465px) {
                                    right: 150px;
                                }

                                
                            }
                        }
                    }

                }
            }

            .maininfos{
                width: 65%;
                display: flex;
                flex-direction: column;
                font-family: 'SF Pro Display', sans-serif;
                padding-left: 30px;

                @media screen and (max-width: 1490px) {
                    width: 100%;
                }

                .title{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 36px;
                    color: $white_color; 

                    @media screen and (max-width: 570px) {
                        font-size: 20px;
                        line-height: 26px;
                    }
                }

                .text{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    display: flex;
                    flex-direction: column;

                    color: rgba(255, 255, 255, 0.6);

                    @media screen and (max-width: 570px) {
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
            }
        }

        .play__cards{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;

            @media screen and (max-width: 1490px) {
                flex-direction: column;
            }

            .img_mini{
                @media screen and (max-width: 860px) {
                    display: flex;
                    justify-content: center;
                }
                img{
                    @media screen and (max-width: 860px) {
                        margin-bottom: 10px;
                    }

                    @media screen and (max-width: 570px) {
                        width: 30%;
                    }
                }
            }

            .card_item{
                width: 50%;
                height: auto;
                border-radius: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 30px;
                margin-top: 30px;

                @media screen and (max-width: 1490px) {
                    width: auto;
                    margin: 30px 0px 0px 0px !important;
    
                }

                @media screen and (max-width: 860px) {
                    width: auto;
                    flex-direction: column;
                }

                .infos__mini{
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;

                    @media screen and (max-width: 860px) {
                        text-align: center;
                    }

                    .title{
                        font-family: 'SF Pro Display', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 36px;
                        color: $white_color;
                        margin-bottom: 10px;

                        @media screen and (max-width: 570px) {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    }

                    .text{
                        font-family: 'SF Pro Display', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 28px;
                        line-height: 33px;
                        display: flex;
                        align-items: center;
                        color: $white_color;

                        @media screen and (max-width: 570px) {
                            font-size: 18px;
                            line-height: 23px;
                        }
                        
                    }
                }
            }
        }
    }
}