<section class="game">
    <div class="game__wrapper">
        <div class="game__company">
            <nav class="game__company_items">
                <a href="" class="game__company_item">
                    <img style="opacity: 0.07;" src="images/company/image 41.svg" alt="company_logo">
                </a>
                <a href="" class="game__company_item">
                    <img style="opacity: 0.07;" src="images/company/image 42.svg" alt="company_logo">                
                </a>
                <a href="" class="game__company_item">
                    <img style="opacity: 0.07;" src="images/company/image 43.svg" alt="company_logo">
                </a>
                <a href="" class="game__company_item">
                    <img style="opacity: 0.07;" src="images/company/image 44.svg" alt="company_logo">
                </a>
                <a href="" class="game__company_item">
                    <img style="opacity: 0.07;" src="images/company/image 45.svg" alt="company_logo">
                </a>
                <a href="" class="game__company_item">
                    <img style="opacity: 0.07;" src="images/company/image 46.svg" alt="company_logo">
                </a>
            </nav>
        </div>
        <div class="game__web">
            <!-- <div class="text">
                <span class="doggi_text">Yes you read that right, SpiderShib Inu officially enters the game to conquer the world 🌎</span>
            </div> -->
            <div class="img__web">
                <div class="glow_effect"></div>
                <div class="web">
                    <img src="images/company/web.svg" alt="">
                </div>
                <div class="earth">
                    <img src="images/company/earth.svg" alt="">
                </div>
                <div class="doggi">
                    <div class="text">
                        <span class="doggi_text">Yes you read that right, SpiderShib Inu officially enters the game to conquer the world 🌎</span>
                    </div>
                    <img src="images/company/doggi.svg" alt="">
                    <button class="goo-btn">Let’s find out more</button>
                </div>
                <div class="circle_items">
                    <div class="itemsOne">
                        <i class="fas fa-redo"></i>
                    </div>
                    <div class="itemsTwo">
                        <i class="far fa-credit-card"></i>
                    </div>
                    <div class="itemsThree">
                        <i class="fab fa-connectdevelop"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>