<section class="invest">
    <div class="invest__wrapper">
        <div class="invest__why">
            <div class="title">
                <span>Why invest in SpiderShiba Inu?</span>
            </div>
            <div class="sub_title">
                in case you have lived in a cave in the last few months we will give you a brief summary of what happened in crypto industry
            </div>
            <button class="invest_btn">Learn more about SpiderShiba</button>
        </div>
        <div class="invest__reasons">
            <div class="item_reason" style="margin-bottom: 40px">
                <div class="img">
                    <div class="quadro">
                        <i style="color: red;" class="fas fa-chart-line"></i>
                    </div>
                </div>
                <div class="information">
                    <div class="title">
                        <span>Massive trend</span>
                    </div>
                    <div class="text">
                        <span>Shiba inu has invaded the market with an infinity of other meme coins that collect thousands of BNB and after the launch they make mind-boggling numbers! </span>
                    </div>
                </div>
            </div>
            <div class="item_reason">
                <div class="img">
                    <div class="quadro">
                        <i style="color: rgb(229, 255, 0);" class="fas fa-star"></i>
                    </div>
                </div>
                <div class="information">
                    <div class="title">
                        <span>100% of value, 0% of memecoin!</span>
                    </div>
                    <div class="text">
                        <span>We took the best from this trend and have decided to ride this tremendous wave success in Shiba Inu tokens, not only by launching a coin, but by creating a real NFT game p2e</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>