<section class="last">
    <div class="last__wrapper">
        <div class="title">
            <span>Join our SpiderShib Inu Community</span>
        </div>
        <div class="social">
            <a href="" class="social_btn">
                <i class="fab fa-telegram-plane"></i>
            </a>
            <a href="" class="social_btn">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="social_btn">
                <i class="fab fa-reddit"></i>
            </a>
            <a href="" class="social_btn">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="" class="social_btn">
                <i class="fab fa-monero"></i>
            </a>
            <a href="" class="social_btn">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="img">
            <img src="images/team/gog.svg" alt="doggy">
        </div>
        <div class="code">
            <div class="sub">
                <span>SpiderShiba Inu’s Contract address:</span>
            </div>
            <div class="this">
                <span>0xe4C6E7a0F696Fb2356A187020eb13E742792Fdcc</span>
            </div>
        </div>
    </div>
</section>