<section class="lazy__content">
    <div class="lazy__wrapper">
        <div class="infos__content">
            <div class="title__lazy">
                <span class="title">
                    <span class="red-color">Who is</span> mr. Spidershiba Inu?
                </span>
            </div>
            <div class="subtitle__lazy">
                <span class="subtitle">
                    <p>
                        it’s a hybrid of Shiba and Spiderman.... but  
                    </p>
                </span>
            </div>
            <div class="text__lazy">
                <span class="text">
                    <p>
                        It’s not only for pump and dump by Elon tweets. 
                    </p>
                    <p>
                        This is real NFT game with Achiements, Goals and nice gameplay with tokenization
                    </p>
                </span>
            </div>
            <div class="img__content__after">
                <img src="images/lazy/spidershibaimg.svg" alt="shiba image">
            </div>
            <div class="btn__lazy">
                <button class="btn-red">Join Community</button>
                <button class="btn-grey">More about SpiderShiba Inu</button>
            </div>
            <div class="adresscode_lazy">
                <span class="mini-badge">Contract address:</span>
                <span class="this-adress">0xe4C6E7a0F696Fb2356A187020eb13E742792Fdcc</span>
            </div>
        </div>
        <div class="img__content">
            <img src="images/lazy/spidershibaimg.svg" alt="shiba image">
        </div>
    </div>
    <div class="first__blur"></div>
    <div class="second__blur"></div>
    <div class="third__blur"></div>
    <div class="four__blur"></div>
    <div class="five__blur"></div>

    <div class="end_run_string">
        <marquee loop="infinity" style="color: rgba(197, 191, 0, 0.76); font-family: 'SF Pro Display',sans-serif;font-style: normal;font-weight: 600;font-size: 13px; line-height: 16px;text-transform: uppercase;">
            WARNING: this is not a meme coin  WARNING: this is not a meme coin  WARNING: this is not a meme coin  WARNING: this is not a meme coin  WARNING: this is not a meme coin  WARNING: this is not a meme coin  WARNING: this is not a meme coin  WARNING: this is not a meme coin  WARNING: this is not a meme coin  
        </marquee>
    </div>
</section>