<header id="header">
    <div class="header__wraper">
        <div class="logo__wrapper">
            <img src="images/header/logo.svg" alt="SpiderShiba Inu Logo">
            <div class="text_logo">
                SpiderShiba <span class="red_color">Inu</span>
            </div>
        </div>
        <div class="navs_wrapper">
            <nav class="header__navs">
                <a href="#" class="header__nav">How it works</a>
                <a href="#" class="header__nav">Play and earn</a>
                <a href="#" class="header__nav">Roadmap</a>
                <a href="#" class="header__nav">Team</a>
                <a href="#" class="header__nav">Partners&Investors</a>
                <a href="#" class="header__nav">Why invest in SpiderShiba</a>
                <a href="#" class="header__nav">Tokenomics</a>
                <a href="#" class="header__nav">FAQ</a>
                <a href="#" class="header__nav">Community</a>
            </nav>
        </div>
        <div class="btn_wrapper">
            <button class="header_btn">Join Community</button>
            <i id="mobile-btn" class="fas fa-bars"></i>
        </div>
    </div>
</header>
<div class="mobile_navs">
    <a href="#" class="header__nav">How it works</a>
    <a href="#" class="header__nav">Play and earn</a>
    <a href="#" class="header__nav">Roadmap</a>
    <a href="#" class="header__nav">Team</a>
    <a href="#" class="header__nav">Partners&Investors</a>
    <a href="#" class="header__nav">Why invest in SpiderShiba</a>
    <a href="#" class="header__nav">Tokenomics</a>
    <a href="#" class="header__nav">FAQ</a>
    <a href="#" class="header__nav">Community</a>
    <div class="btn_wrapper">
        <button class="header_btn_mob">Join Community</button>
    </div>
</div>