<section class="play">
    <div class="play__wrapper">
        <div class="play__title">
            <span class="play__maintitle">Play to earn</span>
            <span class="play__subtitle">Many ways to earn tokens and NFTs</span>
        </div>
        <div class="play__infos">
            <div class="infoscars">
                <div class="card_img">
                    <div class="monsters">
                        <img style="z-index: 1;" src="images/plays/image 36.svg" alt="monsters">
                        <img style="z-index: 0;" src="images/plays/Vector.svg" alt="web">
                        <div class="doggy">
                            <img src="images/plays/dog.svg" alt="dog">
                        </div>
                    </div>
                </div>
                <div class="maininfos">
                    <div class="title">
                        <span>Game plot and goal</span>
                    </div>
                    <div class="text">
                        <p>Mary Jane has been kidnapped by Green Goblin, who has no intention of letting her escape, so she flees to New York City, going through different scenarios that will be part of the game!</p>
                        <p>The goal is to accumulate as many game coins and points as possible, which will then be transformed into the game token based also on the attempts used to complete the level.</p>
                        <p>Once the Green Goblin is defeated and Mary Jane is safed, the game is over, but we don't stop there!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="play__cards">
            <div style="background-color: #FF9429; margin-right: 30px;" class="card_item">
                <div class="img_mini">
                    <img src="images/plays/coin.png" alt="coin">
                </div>
                <div class="infos__mini">
                    <div class="title">
                        <span>Earn that cash!</span>
                    </div>
                    <div class="text">
                        <span>
                            In the various levels there will also be special coins, more difficult to take, which will provide you with bonuses in tokens or game NFTs!
                        </span>
                    </div>
                </div>
            </div>
            <div class="card_item" style="background-color:#067CCB; margin-left: 30px;">
                <div class="img_mini">
                    <img src="images/plays/megephone.png" alt="megaphone">
                </div>
                <div class="infos__mini">
                    <div class="title">
                        <span>Game events and challenges</span>
                    </div>
                    <div class="text">
                        <span>
                            There will be lots of events after end of the game, that will bring together whole community and you can participate in challanges with the NFTs! 
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>