<section class="roadmap">
    <div class="title">
        <span>Roadmap</span>
    </div>
    <div class="roadmap__wrapper">
        <div class="timeline">
            <ul>
                <li>
                    <div class="timeline_content" style="opacity: 0.2;">
                        <div class="number">
                            <div class="qadro">
                                <span>1</span>
                            </div>
                        </div>
                        <div class="info">
                            <div class="title">
                                <span>August 2021</span>
                            </div>
                            <div class="list">
                                <p> • Started project ☑️</p>
                                <p> • Budget accumulation ☑️</p>
                                <p> • Winning team search ☑️</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline_content" style="opacity: 0.2;">
                        <div class="number">
                            <div class="qadro">
                                <span>2</span>
                            </div>
                        </div>
                        <div class="info">
                            <div class="title">
                                <span>Sept - Nov 2021</span>
                            </div>
                            <div class="list">
                               <p> •	Whitepaper creation ☑️</p>
                                <p> •	Smartcontract testing ☑️</p>
                                <p> •	Building ideas for nft game ☑️</p>
                                <p> •	start developing website and game ☑️</p>
                                <p> •	start creating NFT ☑️</p>
                                <p> •	start creating tokenomics ☑️</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline_content" style="opacity: 0.2;">
                        <div class="number">
                            <div class="qadro">
                                <span>3</span>
                            </div>
                        </div>
                        <div class="info">
                            <div class="title">
                                <span>Dec - Jan 2022</span>
                            </div>
                            <div class="list">
                                <p> •	Official launch on pinksale ☑️</p>
                                <p> •	Start marketing campaign ☑️ </p>
                                <p> •	Airdrop ☑️</p>
                                <p> •	Panckacke swap launch ☑️</p>
                                <p> •	Start of collaborations with decentraland and the sandbox ☑️</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline_content">
                        <div class="number">
                            <div class="qadro">
                                <span>4</span>
                            </div>
                        </div>
                        <div class="info">
                            <div class="title">
                                <span>Q1 2022</span>
                            </div>
                            <div class="list">
                               <p> •	Listing on coinmarketcap and coingecko</p>
                               <p> •	Early beta game</p>
                               <p> •	Promotion cooperation with big celebrities</p>
                               <p> •	NFT & Game community build-up</p>
                               <p> •	NFT collaborations and launch</p>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline_content">
                        <div class="number">
                            <div class="qadro">
                                <span>5</span>
                            </div>
                        </div>
                        <div class="info">
                            <div class="title">
                                <span>Q2 2022</span>
                            </div>
                            <div class="list">
                                <p> •	Launch of new website</p>
                                <p> •	Centralized exchange listening</p>
                                <p> •	Launch of Spidershiba inu single player</p>
                                <p> •	Creation of NFT marketplace</p>
                                <p> •	First teaser of Spidershiba inu World Metaverse multiplayer</p>
                                <p> •	Android & iOS App release</p>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>