<section class="team">
    <div class="team__wrapper">
        <div class="title__team">
            <span>Team</span>
        </div>
        <div class="team__slider">
            <div class="slide">
                <div class="img">
                    <img src="images/team/image 37.png" alt="">
                </div>
                <div class="info">
                    <div class="name">
                        <span>Harry Pham</span>
                    </div>
                    <div class="who">
                        <span>
                            Founder and CEO
                        </span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="img">
                    <img src="images/team/image 38.png" alt="">
                </div>
                <div class="info">
                    <div class="name">
                        <span>Bui Cai</span>
                    </div>
                    <div class="who">
                        <span>
                            Co-founder and CTO
                        </span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="img">
                    <img src="images/team/image 39.png" alt="">
                </div>
                <div class="info">
                    <div class="name">
                        <span>Binh Mai</span>
                    </div>
                    <div class="who">
                        <span>
                            Blockchain expert
                        </span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="img">
                    <img src="images/team/image 40.png" alt="">
                </div>
                <div class="info">
                    <div class="name">
                        <span>Lisa Dowen</span>
                    </div>
                    <div class="who">
                        <span>
                            Marketing and funnels
                        </span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="img">
                    <img src="images/team/image 37.png" alt="">
                </div>
                <div class="info">
                    <div class="name">
                        <span>Harry Pham</span>
                    </div>
                    <div class="who">
                        <span>
                            Founder and CEO
                        </span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="img">
                    <img src="images/team/image 38.png" alt="">
                </div>
                <div class="info">
                    <div class="name">
                        <span>Bui Cai</span>
                    </div>
                    <div class="who">
                        <span>
                            Co-founder and CTO
                        </span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="img">
                    <img src="images/team/image 39.png" alt="">
                </div>
                <div class="info">
                    <div class="name">
                        <span>Binh Mai</span>
                    </div>
                    <div class="who">
                        <span>
                            Blockchain expert
                        </span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="img">
                    <img src="images/team/image 40.png" alt="">
                </div>
                <div class="info">
                    <div class="name">
                        <span>Lisa Dowen</span>
                    </div>
                    <div class="who">
                        <span>
                            Marketing and funnels
                        </span>
                    </div>
                </div>
            </div>
        </div>    
        <div class="team_investors">
            <div class="title">
                <span>Partners & Investors</span>
            </div>
            <div class="partners_items">
                <nav class="game__company_items">
                    <a href="" class="game__company_item">
                        <img style="opacity: 0.5;" src="images/company/image 41.svg" alt="company_logo">
                    </a>
                    <a href="" class="game__company_item">
                        <img style="opacity: 0.5;" src="images/company/image 42.svg" alt="company_logo">                
                    </a>
                    <a href="" class="game__company_item">
                        <img style="opacity: 0.5;" src="images/company/image 43.svg" alt="company_logo">
                    </a>
                    <a href="" class="game__company_item">
                        <img style="opacity: 0.5;" src="images/company/image 44.svg" alt="company_logo">
                    </a>
                    <a href="" class="game__company_item">
                        <img style="opacity: 0.5;" src="images/company/image 45.svg" alt="company_logo">
                    </a>
                    <a href="" class="game__company_item">
                        <img style="opacity: 0.5;" src="images/company/image 46.svg" alt="company_logo">
                    </a>
                </nav>
            </div>
        </div>
    </div>
</section>