<section class="tokenize">
    <div class="title">
        <span>Tokenomics</span>
    </div>
    <div class="tokenize__wrapper">
        <div class="chart">
            <canvas id="doughnut-chart"></canvas>
            <!-- <div class="img">
                <img src="images/team/gog.svg" alt="doggy">
            </div> -->
        </div>
        <div class="statiscitone">
            <div class="cart">
                <div class="quantity" style="width: 19%; height: 5px; background-color:#4E00FF; display: block;"></div>
                <div class="title">
                    <span>19% on marketing</span>
                </div>
                <div class="text">
                    <span>Thanks to our ecosystem you will be able to earn passively and actively</span>
                </div>
            </div>
            <div class="cart">
                <div class="quantity" style="width: 5%; height: 5px; background-color:#FF850B; display: block;"></div>
                <div class="title">
                    <span>5% for founders, 6% stacked</span>
                </div>
                <div class="text">
                    <span>Thanks to our ecosystem you will be able to earn passively and actively</span>
                </div>
            </div>
            <div class="cart">
                <div class="quantity" style="width: 30%; height: 5px; background-color:#1DBEE1; display: block;"></div>
                <div class="title">
                    <span>30% for liquidity</span>
                </div>
                <div class="text">
                    <span>Thanks to our ecosystem you will be able to earn passively and actively</span>
                </div>
            </div>
        </div>
        <div class="statistictwo">
            <div class="cart">
                <div class="quantity" style="width: 10%; height: 5px; background-color:#133D81; display: block;"></div>
                <div class="title">
                    <span>10% for advisors</span>
                </div>
                <div class="text">
                    <span>Thanks to our ecosystem you will be able to earn passively and actively</span>
                </div>
            </div>
            <div class="cart">
                <div class="quantity" style="width: 15%; height: 5px; background-color: #FF0000; display: block;"></div>
                <div class="title">
                    <span>P2e 15%</span>
                </div>
                <div class="text">
                    <span>Thanks to our ecosystem you will be able to earn passively and actively</span>
                </div>
            </div>
            <div class="cart">
                <div class="quantity" style="width: 6%; height: 5px; background-color: #663090; display: block;"></div>
                <div class="title">
                    <span>NFT 15%</span>
                </div>
                <div class="text">
                    <span>Thanks to our ecosystem you will be able to earn passively and actively</span>
                </div>
            </div>
        </div>
    </div>
</section>