<section class="works">
    <div class="works__wrapper">
        <div class="works__title">
            <span>How it works?</span>
        </div>
        <div class="works__card">
            <div class="item_card one">
                <div class="item__img">
                    <div class="quadro">
                        <i class="far fa-credit-card"></i>
                    </div>
                </div>
                <div class="item__title">
                    <span>SpiderShib Inu Ecosystem</span>
                </div>
                <div class="item__subtitle">
                    <span>Large variety of options to use SpiderShib Inu tokens and NFTs</span>
                </div>
                <div class="item__text">
                    <p>
                        Our ecosystem is different from all the others, we have created the first REAL nft game with SpiderShib Inu.
                    </p>
                    <p>
                        So the tokens will have real usefulness and to ensure constant growth for all holders.
                    </p>
                </div>
            </div>
            <div class="item_card two">
                <div class="item__img">
                    <div class="quadro-yellow">
                        <i class="fab fa-connectdevelop"></i>
                    </div>
                </div>
                <div class="item__title">
                    <span>Many options to earn</span>
                </div>
                <div class="item__subtitle">
                    <span>Thanks to our ecosystem you will be able to earn passively and actively</span>
                </div>
                <div class="item__text">
                    <p>
                        <ul>
                            <li>The passive income:</li>
                            <li>- staking</li>
                            <li>- the appreciation of the staked currency</li>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            <li>The active income:</li>
                            <li>- Gaming process (you will earn money that you can turn into tokens)</li>
                            <li>- Re-sale of the NFTs  </li>
                        </ul>                
                    </p>
                </div>
            </div>
            <div class="item_card three">
                <div class="item__img">
                    <div class="quadro-blue">
                        <i class="fas fa-redo"></i>
                    </div>
                </div>
                <div class="item__title">
                    <span>Reshaping DeFi</span>
                </div>
                <div class="item__subtitle">
                    <span>We are evolving DeFi concepts such as participation rewards, NFTs and tokenomics to maximise profit for every investor</span>
                </div>
                <div class="item__text">
                    <p>
                        We offer huge tools for people around the world to take control of their financial future.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>