// Main styles file

@import './settings/colors';
@import './settings/fonts';
@import './components/game';
@import './components/navbar';
@import './components/lazy';
@import './components/works';
@import './components/play';
@import './components/invest';
@import './components/roadmap';
@import './components/team';

html, body{
    padding: 0;
    margin: 0;
    background-color: $bg_dark_color;
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  body::-webkit-scrollbar-track {
    background: $bg_dark_color;       
  }
  body::-webkit-scrollbar-thumb {
    background-color: $btn_red_color;    
    border-radius: 20px;       
    border: 3px solid $bg_dark_color;  
  }